<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Blog | Bolder Premium Wordpress Theme</title>
                        
    <!-- BEGIN .styles -->
    <css href="__CSS__/ido.css" />
    <css href="__CSS__/them/green.css" />              
	<!-- END .styles -->           
    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />  
    <!-- [favicon] end -->
    
</head>                   
        
<body class="no_js">
    <div id="top-space"></div>
    <include file="Common:header" />   
    <!-- START CONTENT -->
    <div id="content">
    
        <div class="inner"> 
        
        	<!-- START BLOG -->
        	<div class="text">
	            <div class="clear"></div>   
	            
	            <!-- POST 1 -->
	            <div class="date">                                                     
	                <h3 class="title-blog"><a href="blog_single.html" title="Bolder, a new WordPress Theme &#8211; buy it on Theme Forest">{$info.title}</a></h3> 
	                
	                <div class="mon-year"><span>Jan</span><br />2011</div>
	                
	                <div class="day">16</div>
	                
	                <div class="clear"></div>
	            </div>
	            
	            <div class="clear line"></div>
	            
	            <p class="meta">
	                <span class="left">posted by <a href="#" title="Posts by antoscarface">antoscarface</a> | </span> 
	                <span class="left tags">on <a href="#" rel="tag">bolder</a>, <a href="#" rel="tag">Theme</a>, <a href="#" rel="tag">Wordpress</a> | </span>                            
					<span class="left comment"> <a href="#" title="Comment on Bolder, a new WordPress Theme &#8211; buy it on Theme Forest">3 comments</a></span>
				</p>
	            
				<div class="clear"></div>
	                                    
	            <div class="hentry">
	               {$info.content}
	            </div>
	            <!-- END POST 1 -->
	            
	            <div class="clear"></div>
	            
	            
			</div>
			<!-- END BLOG --> 
			
			<!-- START SIDEBAR -->
                <div class="sidebar"> 
				
					<!-- RECENT POSTS -->                 
                	<div class="widget">
						<h2>Recent Posts</h2>			
						
						<div class="recent-post">
							
							<!-- POST -->
							<div class="link">
							    <img width="50" height="50" src="images/recentposts/31-150x150.jpg">
								
								<a title="[Gold] WordPress Theme" href="#">[Gold] WordPress Theme <strong> || read more</strong></a>
								<br/>
								<small>January, 25 2011</small>
								
								<div class="clear"></div>
							</div>     
							<!-- END POST -->
							                      
							<!-- POST -->
							<div class="link">
							    <img width="50" height="50" src="images/recentposts/005.big_-150x150.jpg">
								
								<a title="Photography 5" href="#">Photography 5 <strong> || read more</strong></a>
								<br/>
								<small>January, 20 2011</small>
								
								<div class="clear"></div>
							</div>         
							<!-- END POST -->
							                      
							<!-- POST -->
							<div class="link">
							    <img width="50" height="50" src="images/recentposts/004.big_-150x150.jpg">
								<a title="Photography 4" href="#">Photography 4 <strong> || read more</strong></a>
								<br/>
								<small>January, 20 2011</small>
								<div class="clear"></div>
							</div>         
							<!-- END POST -->
							
						</div>
					</div>  
					<!-- END RECENT POSTS -->  
					
					<!-- RECENT COMMENTS -->
					<div class="widget">
						<h2>Recent Comments</h2>
						
						<ul>
							<li>karima on <a href="#">Bolder, a new WordPress Theme &#8211; buy it on Theme Forest</a></li>
							<li>antoscarface on <a href="#">Make your choice from 18 different skins</a></li>
							<li><a href='http://www.yourinspirationweb.com' rel='external nofollow' class='url'>nando</a> on <a href="#">Make your choice from 18 different skins</a></li>
						</ul>
					</div>
					<!-- END RECENT COMMENTS -->
					
					<!-- START ARCHIVES -->
					<div class="widget">
						<h2>Archives</h2>		
						
						<ul>
							<li><a href='#' title='January 2011'>January 2011</a></li>
							<li><a href='#' title='December 2010'>December 2010</a></li>
							<li><a href='#' title='November 2010'>November 2010</a></li>
							<li><a href='#' title='October 2010'>October 2010</a></li>
							<li><a href='#' title='September 2010'>September 2010</a></li>
							<li><a href='#' title='August 2010'>August 2010</a></li>
						</ul>
					</div>
					<!-- END ARCHIVES -->
					                      
					<!-- CATEGORIES -->
					<div class="widget">
						<h2>Categories</h2>
						
						<ul>	
							<li><a href="#" title="View all posts filed under Blog">Blog</a></li>
							<li><a href="#" title="View all posts filed under Flash News">Flash News</a></li>
						</ul>
					</div>
					<!-- END CATEGORIES -->                
				
				</div>                
                <!-- END SIDEBAR -->                
    
    		<div class="clear"></div>
		</div>
    
    </div>
    <!-- END CONTENT -->  
    
	<!-- START FLASH NEWS -->
	<div class="news-home">
        
        <div class="inner">
            <h2>News</h2>
            
            <ul>
                <li><a href="#">Bolder, a new WordPress Theme – buy it on Theme Forest</a> | January 16, 2011</li>
                <li><a href="#">All right! Now the news are dynamics!</a> | January 16, 2011</li>
                <li><a href="#">Make your choice from 18 different skins</a> | January 16, 2011</li>
            </ul>
        </div>        
            
        <div class="clear"></div>
                      
    </div>
	<!-- END FLASH NEWS -->
    
	<include file="Common:footer" />  
    
    <script type="text/javascript">
          
    </script>
    
         
    
   

</body>
</html>
