<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>雷仕明-壁灯-节能灯-{$Think.config.name}</title>
<meta name="keywords" content="{$Think.config.keyword}" />
<meta name="description" content="{$Think.config.description}" />
<css href="__CSS__/ido.css" />
<css href="__CSS__/them/green.css" />
</head>        
<body class="no_js">
    <include file="Common:header" />
    <!-- START SLIDER -->

    <div id="slider">
        
        <div class="inner">
                    
            <!-- START PANEL -->
            <div id="bolder-theme" class="panel">
                <div class="text">                
                    <h1>Bolder Theme</h1>
                    <h2>for your corporate site</h2>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem 
					ipsum dolor sit amet, consectetur adipiscing elit. 
					Donec blandit enim libero, quis tincidunt arcu.</p>
                </div>                            
                 
                <img src="__IMAGES__/slider/bulb.png" alt="Bolder Theme, for your corporate site" />
            </div>
                             
            <div id="elegant-theme" class="panel none">
                <div class="text">                
                    <h1>Elegant Theme</h1>
                    <h2>for a clean &#038; nice layout</h2>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem 
					ipsum dolor sit amet, consectetur adipiscing elit. 
					Donec blandit enim libero, quis tincidunt arcu.</p>
                </div>                            
                 
                <img src="__IMAGES__/slider/butterfly.png" alt="Elegant Theme, for a clean &#038; nice layout" />
            </div>
                             
            <div id="easy-customize" class="panel none">
                <div class="text">                
                    <h1>Easy to customize</h1>
                    <h2>make your site easily</h2>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem 
					ipsum dolor sit amet, consectetur adipiscing elit. 
					Donec blandit enim libero, quis tincidunt arcu.</p>
                </div>                            
                 
                <img src="__IMAGES__/slider/orange.png" alt="Easy to customize, make your site easily" />
            </div>
                             
            <div id="versatile-theme" class="panel none">
                <div class="text">                
                    <h1>Versatile theme</h1>
                    <h2>different color &#038; style</h2>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem 
					ipsum dolor sit amet, consectetur adipiscing elit. 
					Donec blandit enim libero, quis tincidunt arcu.</p>
                </div>                            
                 
                <img src="__IMAGES__/slider/versatile.png" alt="Versatile theme, different color &#038; style" />
            </div>
                             
            <div id="portfolio-blog" class="panel none">
                <div class="text">                
                    <h1>Portfolio + Blog</h1>
                    <h2>premium wordpress theme</h2>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem 
					ipsum dolor sit amet, consectetur adipiscing elit. 
					Donec blandit enim libero, quis tincidunt arcu.</p>
                </div>                            
                 
                <img src="__IMAGES__/slider/bulb.png" alt="Portfolio + Blog, premium wordpress theme" />
            </div>
        </div>
            
        <div class="clear"></div>
            
    </div>
    
    <div id="nav-slider">
        
        <div class="inner">
        
            <!-- START NAV SLIDER -->
            <ul>
                <li class="current first"><a href="#bolder-theme">Bolder Theme </a><span>for your corporate site</span></li>
				<li><a href="#elegant-theme">Elegant Theme </a><span>for a clean &#038; nice layout</span></li>
				<li><a href="#easy-customize">Easy to customize </a><span>make your site easily</span></li>
				<li><a href="#versatile-theme">Versatile theme </a><span>different color &#038; style</span></li>
				<li><a href="#portfolio-blog">Portfolio + Blog </a><span>premium wordpress theme</span></li>
            </ul>
            <!-- END NAV SLIDER -->
            
        </div>                  
            
        <div class="clear"></div>
        
    </div>     

    <!-- END SLIDER -->  

    
    <!-- START CONTENT -->
    <div id="content">
    
        <div class="inner">           
                                        
			<!-- BOX SECTION -->
			<div class="box-sections">
			    <img src="images/icons/clipboard48.png" alt="Easy to customize" class="icon" />
			    
				<h2>Easy to customize</h2>    
				
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum 
					dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, 
					quis tincidunt arcu.
				</p>                  
			</div>                     
			<!-- END BOX SECTION -->
			                              
			<!-- BOX SECTION -->
			<div class="box-sections">
			    <img src="images/icons/bag48.png" alt="Your corporate site" class="icon" />
			    
				<h2>Your corporate site</h2>   
				
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum 
					dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, 
					quis tincidunt arcu.
				</p>                
			</div>  
			<!-- END BOX SECTION -->
			                              
			<!-- BOX SECTION -->
			<div class="box-sections last">
			    <img src="images/icons/pictures48.png" alt="Portfolio features" class="icon" />
			
			    <h2>Portfolio features</h2>      
				
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum 
					dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, 
					quis tincidunt arcu.
				</p>                
			</div>
			
			<div class="clear"></div>
			
			<!-- BOX CALL TO ACTION -->
			<div class="call-to-action">
			    <div class="tagline">
					<h2>Like it? buy this theme on <strong>themeforest</strong></h2>
					
					<p>Make your choice. Choose <strong>Bolder Theme</strong> for your corporate/personal site and blog.</p>
				</div>    
				
				<a href="http://themeforest.net/item/bolder-premium-corporate-portfolio-wp-theme/156585" class="button-call" style="padding-top:10px; height:57px">
					<strong>Buy this theme only 30$</strong><br />and create your site quicker &amp; easily
			    </a>
			</div>     
			<!-- END BOX CALL TO ACTION -->
			
			<div class="clear"></div>
			                            
			<!-- BOX SECTION -->
			<div class="box-sections">
			    <img src="images/icons/mphone48.png" alt="Promotions" class="icon" />
			    
				<h2>Promotions</h2>      
				
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum 
					dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, 
					quis tincidunt arcu.
				</p>                
			</div>  
			<!-- END BOX SECTION -->
			                              
			<!-- BOX SECTION -->
			<div class="box-sections">
			    <img src="images/icons/statistics48.png" alt="Statistics" class="icon" />
			    
				<h2>Statistics</h2>      
				
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum 
					dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, 
					quis tincidunt arcu.
				</p>                
			</div>  
			<!-- END BOX SECTION -->
			                              
			<!-- BOX SECTION -->
			<div class="box-sections last">
			    <img src="images/icons/shopbag48.png" alt="Buy this theme" class="icon" />
			
			    <h2>Buy this theme</h2>      
				
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum 
					dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, 
					quis tincidunt arcu.
				</p>                
			</div>                     
			<!-- END BOX SECTION -->
                        
            <div class="clear"></div>
                        
        </div>            
    
    </div>
    <!-- END CONTENT -->
    
	<!-- START FLASH NEWS -->
	<div class="news-home">
        
        <div class="inner">
            <h2>News</h2>
            <ul>
                <li><a href="#">Bolder, a new WordPress Theme – buy it on Theme Forest</a> | January 16, 2011</li>
                <li><a href="#">All right! Now the news are dynamics!</a> | January 16, 2011</li>
                <li><a href="#">Make your choice from 18 different skins</a> | January 16, 2011</li>
            </ul>
        </div>        
            
        <div class="clear"></div>
                      
    </div>
	<!-- END FLASH NEWS -->
    
	<include file="Common:footer" />
    <js file="__JS__/jquery-1.9.0.min.js" />
    <js file="__JS__/jquery.arrowFade.js" />
    
     <script type="text/javascript">
        jQuery(document).ready(function($){
            $('#nav-slider ul').arrowFade({
				speed: 500,
				timeout: 5000			
			});
       
		     
        //<![CDATA[  Cufon.now();  //]]>   

	 
	 });   
	</script>
    
    

</body>
</html>
