<div id="top-space"></div>
<!-- START HEADER -->
    <div id="header">
        
        <div class="inner">
        
            <!-- START LOGO -->
            <div id="logo">
                <a href="index.php" title="Bolder Premium Wordpress Theme">Bolder Premium Wordpress Theme</a>
            </div>
            <!-- END LOGO -->
			
			<!-- START NAV -->
            <div id="nav">
				
				<ul class="level-1 black">
					
					<li>
						<a href="index.html">首页</a><span> Home</span>
						<!--<ul class="sub-menu">
							<li>
								<a href="#">Slider</a>
								<ul class="sub-menu">
									<li><a href="home_full_width_fade.html">Full width fade</a></li>
									<li><a href="home_nivo_big.html">Nivo big</a></li>
									<li><a href="index.html">Slider arrow</a></li>
								</ul>
							</li>
							<li><a href="#">Footer</a>
								<ul class="sub-menu">
									<li><a href="index.html">Big footer</a></li>
									<li><a href="home_small_footer.html">Small footer</a></li>
								</ul>
							</li>
							<li><a href="#">Body</a>
								<ul class="sub-menu">
									<li><a href="home_with_sidebar.html">With sidebar</a></li>
									<li><a href="index.html">Without sidebar</a></li>
									<li><a href="home_without_slider.html">Without slider</a></li>
								</ul>
							</li>
						</ul>-->
					</li>
					
					<li>
						<a href="#">LED灯</a><span> LED</span>
						<!--<ul class="sub-menu">
							<li>
								<a href="#">Colors</a>
								<ul class="sub-menu">                           
									<li><a href="skin_black.html">Black</a></li> 
									<li><a href="skin_blue.html">Blue</a></li>
									<li><a href="skin_grey.html">Grey</a></li>
									<li><a href="skin_violet.html">Violet</a></li>
									<li><a href="skin_ciano.html">Ciano</a></li>
									<li><a href="skin_white.html">White</a></li>
									<li><a href="skin_red.html">Red</a></li>
									<li><a href="skin_green.html">Green</a></li>
									<li><a href="skin_brown.html">Brown</a></li>
									<li><a href="skin_pink.html">Pink</a></li>
									<li><a href="skin_darkgrey.html">Darkrey</a></li>
								</ul>
							</li>             
							<li>
								<a href="#">Skins</a>   
								<ul class="sub-menu">    
									<li><a href="skin_wood.html">Wood</a></li>
									<li><a href="skin_fun.html">Fun</a></li>
									<li><a href="skin_grunge.html">Grunge</a></li>
									<li><a href="skin_sketch.html">Sketch</a></li>  
								</ul>
							</li>      
						</ul>-->
					</li>
					
					<li>
						<a href="#">卧室灯</a><span>bedroom</span>
						<!--<ul class="sub-menu">
							<li><a href="about_us.html">About us</a></li>
							<li><a href="full_width_page.html">Full width page</a></li>
							<li><a href="left_sidebar.html">Left sidebar</a></li>
							<li><a href="right_sidebar.html">Right sidebar</a></li>   
							<li><a href="404.html">404 Page</a></li>
						</ul>-->
					</li>
					
					<li>
						<a href="#">落地灯</a><span>Floor lamp</span>
						<!--<ul class="sub-menu">
							<li><a href="portfolio_3_column.html">3 Column</a></li>
							<li><a href="portfolio_with_slider.html">With slider</a></li>
							<li><a href="portfolio_big_image.html">Big Image</a></li>
						</ul>-->
					</li>
					
					<li>
						<a href="#">壁灯</a><span> wall &amp; more</span>    
						<!--<ul class="sub-menu">
							<li><a href="shortcode_tipography.html">Tipography</a></li>
							<li><a href="shortcode_alertbox.html">Alert Box</a></li>
							<li><a href="shortcode_buttons.html">Buttons</a></li>
							<li><a href="shortcode_sections.html">33 Icon Section</a></li>
							<li><a href="shortcode_nivo.html">Nivo Slider</a></li>
							<li><a href="shortcode_tabs.html">Tabs and Toggles</a></li>
							<li><a href="shortcode_tables.html">Table</a></li>
							
							<li><a href="shortcode_lists.html">Styled List and Icon</a></li>
							<li><a href="shortcode_columns.html">Columns</a></li>
						</ul>-->
					</li>
					
					<li><a href="blog.html">节能灯</a><span> Energy saving light</span></li>
					
					<!--<li>
						<a href="contact.html">Contact</a><span> get in touch</span>
						<ul class="sub-menu">
							<li><a href="contact.html">With google map</a></li>
							<li><a href="contact_without_map.html">Without map</a></li>
						</ul>
					</li>-->
					
				</ul>
				
			</div>            
			<!-- END NAV -->
            
            <div class="clear"></div>
            
        </div>
            
    </div>
    <!-- END HEADER --> 