<!-- START FOOTER -->
    <div id="footer">
        <div class="inner five">
        
        	<!-- START COMPANY MENU -->
            <div class="section">
				<h3>Company</h3>
				
				<ul class="menu">
					<li><a href="about.html">About us</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>            
        	<!-- END COMPANY MENU -->
			                         
        	<!-- START TWITTER -->
			<div class="section">
				<h3>Tweets</h3>   	              
				
				<div class="twitter-container"></div>
					
				<script type="text/javascript">
				jQuery(function(){
					jQuery('.twitter-container').tweetable({
						id: 'tweets',
						username: 'YIW', 
						time: true, 
						limit: 2, 
						replies: true
					});
				});
				</script>
			</div>                
        	<!-- END TWITTER -->
			                         
        	<!-- START FLICKR -->
			<div class="section">
				<h3>Flickr</h3>
				
				<div class="flickr">    
					<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;&amp;layout=x&amp;source=user&amp;user=43893867@N04&amp;size=s"></script>
				</div>
			</div>
        	<!-- END FLICKR -->
			                         
        	<!-- START SOCIALS -->
			<div class="section">
				<h3>Socials</h3>
				
				<ul class="menu">
					<li><a href="http://feeds.feedburner.com/yourinspirationweb/HuJt">Subscribe feed</a></li>
					<li><a href="http://www.facebook.com/YIWeb">Our Facebook page</a></li>
					<li><a href="http://twitter.com/YIW/">Follow us on twitter</a></li>
					<li><a href="#">Flickr</a></li>
					<li><a href="#">LinkedIn</a></li>
				</ul>
			</div>
        	<!-- END SOCIALS -->
			                         
        	<!-- START GET IN TOUCH -->
			<div class="section last">
				<h3>Get in touch</h3>			
				
				<div class="textwidget">
					<address>
					  	Bolder Theme,<br />
					  	115 Avenue street NY<br />
					
					  	<strong>Phone</strong>: + 39 347 8785621<br />
					</address>
                
					<a href="#" class="contact">
					   <strong>Have a question?</strong><br />
					    <span>Contact us</span>    
					</a>
				</div>
			</div>  
        	<!-- END GET IN TOUCH -->
    
            <div class="clear"></div>  
        
        </div> 
    </div>
    <!-- END FOOTER -->  
      
    
    <!-- START COPYRIGHT -->
    <p id="copyright">Copyright 2010 - Bolder Theme, theme by <a href="http://www.yourinspirationweb.com/en">Your Inspiration Web</a> | purchase it on <a href="http://themeforest.net/?ref=Sara_p">Theme Forest</a></p>
    <!-- END COPYRIGHT -->  